<!-- <style>
    body{
        color: white;
    
    }
    </style>
    
    
    <form #updateProductForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name"> Name:</label>
          <input type="text" class="form-control" id="name" name="Name" [(ngModel)]=" cinema.Name" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" name="Description" [(ngModel)]=" cinema.Description" required></textarea>
        </div>
        <div class="form-group">
          <label for="price">LogoURL:</label>
          <input type="text" class="form-control" id="ProfilePictureURL" name="Logo" [(ngModel)]=" cinema.Logo" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form> -->
      <br><br><br><br>
      <style>
        body{
            color: white;
        
        }
        </style>
        
        
        <form #updateProductForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group center">
              <label style="color: blue;font-family: bold; font-size: 20px;" for="name"> Name:</label>
              <input type="text" class="form-control" id="name" name="Name" [(ngModel)]=" cinema.Name" required>
            </div>
            <div class="form-group center">
              <label style="color: blue;font-family: bold; font-size: 20px; "for="description">Description:</label>
              <textarea class="form-control" id="description" name="Description" [(ngModel)]=" cinema.Description" required></textarea>
            </div>
            <div class="form-group center" >
              <label style="color: blue;font-family: bold; font-size: 20px;" for="price">LogoURL:</label>
              <input type="text" class="form-control" id="ProfilePictureURL" name="Logo" [(ngModel)]=" cinema.Logo" required>
            </div>
            <br>
            <button style="margin-left: 310px;" type="submit" class="button">Update</button>
            <br><br><br><br><br><br><br><br>
          </form>
