<!-- <style>
    body{
        color: white;
    
    }
    </style>
    
    
    <form #updateProductForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group center">
          <label style="color: blue;font-family: bold; font-size: 20px;" for="name"> Name:</label>
          <input type="text" class="form-control" id="name" name="Name" [(ngModel)]=" movie.Name" required>
        </div>
        <div class="form-group center">
          <label style="color: blue;font-family: bold; font-size: 20px;" for="description">Description:</label>
          <textarea class="form-control" id="description" name="Description" [(ngModel)]="movie.Description" required></textarea>
        </div>
        <div class="form-group center">
          <label style="color: blue;font-family: bold; font-size: 20px;" for="price">PictureURL:</label>
          <input type="text" class="form-control" id="ProfilePictureURL" name="ImageURL" [(ngModel)]=" movie.ImageURL" required>
        </div>
        <div class="form-group center">
            <label style="color: blue;font-family: bold; font-size: 20px;" for="description">Price:</label>
            <textarea class="form-control" id="description" name="Price" [(ngModel)]="movie.Price" required></textarea>
          </div>
          <div class="form-group center">
  <label style="color: blue;font-family: bold; font-size: 20px;" for="startDate">Start Date</label>
  <input type="date" class="form-control" name="StartDate" [(ngModel)]="movie.StartDate" [value]="datePipe.transform(movie.StartDate, 'yyyy-MM-dd')" />


</div>
<div class="form-group center">
  <label style="color: blue;font-family: bold; font-size: 20px;" for="endDate">End Date</label>
  <input type="date" class="form-control"  name="EndDate" [(ngModel)]="movie.EndDate" 
  [value]="datePipe.transform(movie.EndDate, 'yyyy-MM-dd')"   />
       
</div>
          <div class="form-group center">
            <label style="color: blue;font-family: bold; font-size: 20px;" for="movieCategory">Category</label>
            <select class="form-control" name="MovieCategory" [(ngModel)]="movie.MovieCategory" >
              <option *ngFor="let category of categories" [value]="category.value">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group center">
            <label style="color: blue;font-family: bold; font-size: 20px;margin-right: 80px;margin-top: 50px;" for="ActorIds">Actors</label>
            <select multiple class="form-control" name="ActorIds" [(ngModel)]="movie.ActorIds">
              <option *ngFor="let actor of Actors" [value]="actor.Id">{{actor.FullName}}</option>
            </select>
          </div>
          <div class="form-group center">
            <label style="color: blue;font-family: bold; font-size: 20px;" for="CinemaId">Cinema</label>
            <select class="form-control"  name="CinemaId" [(ngModel)]="movie.CinemaId">
              <option *ngFor="let cinema of cinema" [value]="cinema.Id">{{cinema.Name}}</option>
            </select>
          </div>
          <div class="form-group center">
            <label style="color: blue;font-family: bold; font-size: 20px;" for="ProducerId">Producer</label>
            <select class="form-control"  name="ProducerId" [(ngModel)]="movie.ProducerId">
              <option *ngFor="let producer of producers" [value]="producer.Id">{{producer.FullName}}</option>
            </select>
          </div>
          <button style="margin-left: 450px;" type="submit" class="button">Update</button>
        </form> -->
        

        


        <form #updateProductForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name"> Name:</label>
            <input type="text" class="form-control" id="name" name="Name" [(ngModel)]=" movie.Name" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="Description" [(ngModel)]="movie.Description" required></textarea>
          </div>
          <div class="form-group">
            <label for="price">PictureURL:</label>
            <input type="text" class="form-control" id="ProfilePictureURL" name="ImageURL" [(ngModel)]=" movie.ImageURL" required>
          </div>
          <div class="form-group">
              <label for="description">Price:</label>
              <textarea class="form-control" id="description" name="Price" [(ngModel)]="movie.Price" required></textarea>
            </div>
            <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" class="form-control" name="StartDate" [(ngModel)]="movie.StartDate"  />
    
    </div>
    <div class="form-group">
    <label for="endDate">End Date</label>
    <input type="date" class="form-control"  name="EndDate" [(ngModel)]="movie.EndDate" 
      />
         
    </div>
    
            <div class="form-group">
              <label for="movieCategory">Category</label>
              <select class="form-control" name="MovieCategory" [(ngModel)]="movie.MovieCategory" >
                <option *ngFor="let category of categories" [value]="category.value">{{category.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ActorIds">Actors</label>
              <select multiple class="form-control" name="ActorIds" [(ngModel)]="movie.ActorIds">
                <option *ngFor="let actor of Actors" [value]="actor.Id">{{actor.FullName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="CinemaId">Cinema</label>
              <select class="form-control"  name="CinemaId" [(ngModel)]="movie.CinemaId">
                <option *ngFor="let cinema of cinema" [value]="cinema.Id">{{cinema.Name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ProducerId">Producer</label>
              <select class="form-control"  name="ProducerId" [(ngModel)]="movie.ProducerId">
                <option *ngFor="let producer of producers" [value]="producer.Id">{{producer.FullName}}</option>
              </select>
            </div>
         
          
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <router-outlet></router-outlet>
    
