
  <table class="center">
   
      <tr>

      <th ></th>
      <th ></th>
      <th ></th>

    </tr>
   
   
      <tr *ngFor="let item of Actors;let CurrentIndex=index">

        <td>{{item.FullName}}</td>
        <td><img class="rounded-circle" src= "{{item.ProfilePictureURL}}" style="width: 150px; height: 150px"/></td>
        <td>{{ item.Bio}}</td>
        <td class="align-middle">

      <button  (click)="updateProductDetails(item.Id)" *ngIf="isAdmin"  type="submit" class="button2">Edit</button>
      <button  (click)="viewDetails(item.Id)"type="submit" class="button">Details</button>
      <button  (click)="delete(CurrentIndex)" *ngIf="isAdmin"  type="submit" class="button1">Delete</button>
  </td>
      </tr>
    
  </table>
  <div class="col-md-3">


    <a  routerLink= "/create"  *ngIf="isAdmin" style="width: 200px;height: 60px; font-size: 12px;padding: 20px; margin: auto;" href="#"  type="button"  class="btn-danger"  class="animated-button1">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Add New Actor
    </a>
  </div>

  <router-outlet></router-outlet>
