.button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: p ointer;
    background-color: #0c0b7d;
    border-radius: 50px;
    font-weight: 700;
    color: white;
    line-height: 26px;

    padding: 8px 16px;
    font-size: 14px;
    width: 300px;
    height: 40px;
  }